<%include persists/header%>
    <section class="signup-section">
        <div class="container height-full flex flex-direction-column justify-center height-auto-mq ">
            <h1
                class="text-center font-3rem font-weight-800 margin-bottom3 text-captilize font-size-1rem-mq margin-top5rem-mq">
                pricing
                table illustrating
                three different
                <br>Scbscription
                plans
            </h1>
            <div class="flex justify-around flex-colum-mq">
                <!-- price card -->
                <div class="price-card bg-green  width-100mq margib-tb-p5 ">
                    <div class="price">
                        <h2 class="font-2rem">$9</h2>
                    </div>
                    <h2 class="text-center font-2rem font-weight-800">Free</h2>
                    <p class="text-center">subscription</p>
                    <hr>
                    <div class="width100 bg-color-white text-center pading4">
                        <a class="font-2rem  font-weight-800 color-gray" href="/users/plane">Buy</a>
                    </div>
                </div>
                <!-- 2 -->
                <div class="price-card bg-red width-100mq margib-tb-p5">
                    <div class="price">
                        <h2 class="font-2rem">$19</h2>
                    </div>
                    <h2 class="text-center font-2rem font-weight-800">VIP</h2>
                    <p class="text-center">subscription</p>
                    <hr>
                    <div class="width100 bg-color-white text-center pading4">
                        <a class="font-2rem  font-weight-800 color-gray" href="/users/plane">Buy</a>
                    </div>
                </div>
                <!-- 3 -->
                <div class="price-card bg-yellow width-100mq margib-tb-p5">
                    <div class="price">
                        <h2 class="font-2rem">$29</h2>
                    </div>
                    <h2 class="text-center font-2rem font-weight-800">Premium</h2>
                    <p class="text-center">subscription</p>
                    <hr>
                    <div class="width100 bg-color-white text-center pading4">
                        <a class="font-2rem font-weight-800 color-gray" href="/users/plane">Buy</a>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <% include persists/footer%>